
body{
    background-color: white;   
}

.header{
    display: flex;
    justify-content: center;
}

.elements{
    display: flex;
    justify-content: center;
}

.list {
    list-style-type: none;
}

.start-button{
    display: flex;
    justify-content: center;
}

.start-button button{
    width: 100px;
    height: 100px;
    border-radius: 14px;
    background-color: blue;
    color: white;
}


.list button {
    margin: 10px;
    background-color: blue;
    color: white;
    width: 300px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    border-radius: 14px;
}

button:hover {
    background-color: white;
    color: black;
}


p{
    color: darkred;
    text-emphasis: bold;
    font-size: xx-large;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#time {
    display: inline-flex;
    margin-left: 100px;

}